$basePage-color: yellow;
$contact-color:#badc58;
$border-color:black;
$chat-background:#F0EAD6;
$evenMessageBgr:#ECDB54;
$contact-border-color:#E1E8EE;
$header-borders:#577284;
$last-msg-font:#595454;
$chat-header-bgr:#D2C29D;
$odd-msg-bgr:#badc58;
